Source: python-nose-parameterized
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 10),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools
Build-Depends-Indep: python-nose, python3-nose
Standards-Version: 3.9.6
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-python-nose-parameterized?h=debian%2Fnewton
Vcs-Git: https://git.openstack.org/openstack/deb-python-nose-parameterized -b debian/newton
Homepage: https://github.com/wolever/nose-parameterized

Package: python-nose-parameterized
Architecture: all
Depends: python-nose, ${misc:Depends}, ${python:Depends}
Suggests: python-nose-parameterized-doc
Description: decorator for parameterized testing with Nose - Python 2.x
 nose-parameterized is a decorator for parameterized testing of Python code
 with nose.
 .
 The provided decorators make it simple to pass lists, iterables, tuples or
 callables to the test functions. This allows you to separate the data from the
 test without having to subclass unittest.testcase.
 .
 This package contains the Python 2.x module.

Package: python3-nose-parameterized
Architecture: all
Depends: python3-nose, ${misc:Depends}, ${python3:Depends}
Suggests: python-nose-parameterized-doc
Description: Decorator for parameterized testing with Nose - Python 3.x
 nose-parameterized is a decorator for parameterized testing of Python code
 with nose.
 .
 The provided decorators make it simple to pass lists, iterables, tuples or
 callables to the test functions. This allows you to separate the data from the
 test without having to subclass unittest.testcase.
 .
 This package contains the Python 3.x module.
